$('#bid_price').val(""); 
$('#bid_list').prepend("#{j render 'bid', bid: @bid}");
$("##{dom_id(@bid)}").hide().fadeIn(500);
$(".current_price").html("#{@bid.auction.current_price}");
if ("#{@auction.bids.present? && @auction.bids.first.user == current_user && (@auction.bids.first.price + 1) >= @auction.reserve_price}") { $('h3').first().html("#{ 'Reserve button appears upon refresh if your bid is eligible'  }") }

