= form_for @auction do |f|
  .form-field 
    = f.label :title 
    = f.text_field :title, class: 'form-control' 
  .form-field
    = f.label :details 
    = f.text_field :details, class: 'form-control' 
  .form-field
    = f.label :ends_on 
    = f.text_field :ends_on, class: 'form-control' 
  .form-field
    = f.label :reserve_price
    = f.text_field :reserve_price, class: 'form-control' 
  = f.submit (@auction.persisted? ? "Update" : "Save"), class: "btn btn-default"

